<!DOCTYPE html>
<!--
todo
make heirarchy/presentation more deciferable
add explanation from readme
-->
<html lang="en">
    <head lang='en'>
        <meta charset="utf-8">
        <title>Volidity</title>
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registration">Register</a></li>
                    <li class="active"><a href="/dashboard/{identity}">Dashboard</a></li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron text-center"><h1>Financial Strategy Dashboard</h1></div>
        <div class="container">
            <div class="panel panel-default">
                <h2>Create a New Financial Strategy</h2>
                <form method="post">
                    <hr>

                    <div>
                        <h3>Naming</h3>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input id="name" name="name" type="text" placeholder="Enter name">
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h3>Lookback</h3>
                        <div class="form-group">
                            <label for="startDate">Start Date: </label>
                            <input id="startDate" name="startDate" type="date" class="form-inline">
                        </div>
                        <div class="form-group">
                            <label for="endDate">End Date: </label>
                            <input id="endDate" name="endDate" type="date" class="form-inline">
                        </div>
                        <div class="form-group">
                            <label for="step">Time Interval between Checks (in minutes): </label>
                            <input id="step" name="step" type="number" class="form-inline" placeholder="Enter interval" step="1" min="0" max="787">
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h3>Trade Structure</h3>
                        <div id="tradeStructureDiv">
                            <div class="panel panel-default">
                                <h5>Trade Structure 1</h5>
                                <div class="form-group">
                                    <label for="type1">Type: </label>
                                    <select id="type1" name="type1">
                                        <option value="long">long</option>
                                        <option value="short">short</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ticker1">Ticker: </label>
                                    <input id="ticker1" name="ticker1" type="text" class="form-inline" placeholder="Enter ticker">
                                </div>
                                <div class="form-group">
                                    <label for="execution1">Execution: </label>
                                    <select id="execution1" name="execution1">
                                        <option value="market">market</option>
                                        <option value="limit">limit</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="order1">Order: </label>
                                    <input id="order1" name="order1" type="text" class="form-inline" placeholder="Enter order">
                                </div>
                                <div class="form-group">
                                    <label for="takeProfit1">Take Profit: </label>
                                    <input id="takeProfit1" name="takeProfit1" type="number" class="form-inline" placeholder="Enter take profit">
                                </div>
                                <div class="form-group">
                                    <label for="stopLoss1">Stop Loss: </label>
                                    <input id="stopLoss1" name="stopLoss1" type="number" class="form-inline" placeholder="Enter stop loss" step="any">
                                </div>
                                <div class="form-group">
                                    <label for="marketOnClose1">Market On Close: </label>
                                    <input id="marketOnClose1" name="marketOnClose1" type="number" class="form-inline" placeholder="Enter market on close" step="1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addTradeStructure">Add Trade Structure:</label>
                            <button id="addTradeStructure" type="button" class="btn btn-default">+</button>
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h3>Signals</h3>
                        <div id="indicatorsDiv">
                            <h4>Indicators</h4>
                            <div class="panel panel-default">
                                <h5>Indicator 1</h5>
                                <div id="symbolsDiv1">
                                    <div class="panel panel-default">
                                        <h5>Symbol 1.1</h5>
                                        <div class="form-group">
                                            <label for="sigType_1_1">Type: </label>
                                            <select id="sigType_1_1" name="sigType_1_1">
                                                <option value="positive">positive</option>
                                                <option value="negative">negative</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="symbols_1_1">Symbol: </label>
                                            <input id="symbols_1_1" name="symbols_1_1" type="text" class="form-inline" placeholder="Enter symbol">
                                        </div>
                                        <div class="form-group">
                                            <label for="multiplier_1_1">Multiplier: </label>
                                            <input id="multiplier_1_1" name="multiplier_1_1" type="text" class="form-inline" placeholder="Enter multiplier">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addSymbol1">Add Symbol</label>
                                    <button id="addSymbol1" type="button" class="btn btn-default" onclick="addSymbol(1)">+</button>
                                </div>
                                <div class="form-group">
                                    <label for="aggregation1">Aggregation: </label>
                                    <select id="aggregation1" name="aggregation1">
                                        <option value="sum">sum</option>
                                        <option value="average">average</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="priceType1">Price Type: </label>
                                    <select id="priceType1" name="priceType1">
                                        <option value="percent">percent</option>
                                        <option value="absolute">absolute</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="thresholdType1">Threshold type: </label>
                                    <select id="thresholdType1" name="thresholdType1">
                                        <option value="zscore">z-score</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="threshold1">Threshold:</label>
                                    <input id="threshold1" name="threshold1" type="number" placeholder="Enter threshold" class="form-inline">
                                </div>
                                <div class="form-group">
                                    <label for="triggerType1">Trigger Type:</label>
                                    <select id="triggerType1" name="triggerType1">
                                        <option value="filter">filter</option>
                                        <option value="break">break</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="triggerBias1">Trigger Bias:</label>
                                    <select id="triggerBias1" name="triggerBias1">
                                        <option value="above">above</option>
                                        <option value="below">below</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addIndicator">Add Indicator</label>
                            <button id="addIndicator" type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="form-group">
                            <label for="combination">Combination:</label>
                            <input id="combination" name="combination" type="number" class="form-inline" placeholder="Enter combination">
                        </div>
                    </div>

                    <hr>
                    <button class="btn btn-default" type="submit">submit</button>
                </form>
            </div>
        </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
