<!DOCTYPE html>
<html lang="en">
    <head lang='en'>
        <meta charset="utf-8">
        <title>Volidity</title>
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registration">Register</a></li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron text-center"><h1>AlphaTrade</h1></div>
        <div class="container">
            <h2>1. Create Financial Strategy</h2>
            <p>Name your first financial strategy!</p>
            <hr>
            <h2>2. Lookback</h2>
            <p>Enter a start and end date for your trading strategy and specific time intervals between checks.</p>
            <hr>
            <h2>3. Trade Structure</h2>
            <p>Enter your trade structures! We support long and short trades, and market and limit executions. We also support orders within risk management: one cancels other, stop loss, and market on close.</p>
            <hr>
            <h2>4. Signals</h2>
            <p>Enter indicators needed as triggers for buying/selling. We support symbols for different indicators, multipliers, trigger types, time filters, and many more features.</p>
        </div>
    </body>
</html>
