<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset="utf-8">
        <title>Volidity</title>
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registration">Register</a></li>
                </ul>
            </div>
        </nav>
                <div class="tp-caption tp-resizeme"
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-140']"
                  data-whitespace="nowrap" data-responsive_offset="on"
                  data-width="['none','none','none','none']" data-type="text"
                  data-textalign="['center','center','center','center']"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
                  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                  data-start="1000" data-splitin="none" data-splitout="none">
                    <h1 class="text-capitalize font-xlight whitecolor">Volidity</h1>
                </div>

        <div class="container">
            <!--todo add more info on homepage-->
            <p>Welcome to the Volidity! Test your investment strategy!</p>
        </div>
    </body>
</html>
