<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Volidity</title>
<link href="images/favicon.png" rel="icon">

<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="90">

<!--PreLoader-->
<div class="loader">
   <div class="loader-inner">
      <div class="loader-blocks">
         <span class="block-1"></span>
         <span class="block-2"></span>
         <span class="block-3"></span>
         <span class="block-4"></span>
         <span class="block-5"></span>
         <span class="block-6"></span>
         <span class="block-7"></span>
         <span class="block-8"></span>
         <span class="block-9"></span>
         <span class="block-10"></span>
         <span class="block-11"></span>
         <span class="block-12"></span>
         <span class="block-13"></span>
         <span class="block-14"></span>
         <span class="block-15"></span>
         <span class="block-16"></span>
      </div>
   </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<header class="site-header">
   <nav class="navbar navbar-expand-lg center-brand static-nav">
      <div class="container">
         <a class="navbar-brand" href="index.html">
         <img src="images/logo-transparent.png" alt="logo" class="logo-default">
         <img src="images/logo-dark.png" alt="logo" class="logo-scrolled">
         </a>
         <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
            <span> </span>
            <span> </span>
            <span> </span>
         </button>
         <div class="collapse navbar-collapse" id="xenav">
            <ul class="navbar-nav" id="container">
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#banner-main">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-process">Features</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-team">Dashboard</a>
               </li>
            </ul>
            <!--
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-pricings">Packages</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-blog">Blog</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#contactus">contact  </a>
               </li>
            </ul>
            -->
         </div>
      </div>

      <!--side menu open button-->
      <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
          <span></span> <span></span> <span></span>
       </a>
   </nav>

   <!-- side menu -->
   <div class="side-menu">
      <div class="inner-wrapper">
         <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
         <nav class="side-nav w-100">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#banner-main">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-process">Features</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-team">Dashboard</a>
               </li>
               <!--
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#portfolio_top">Portfolio</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-pricings">Packages</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#our-blog">Blog</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#contactus">contact</a>
               </li>
               -->
            </ul>
         </nav>

         <div class="side-footer w-100">
            <ul class="social-icons-simple white top40">
               <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
               <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
               <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
            </ul>
            <p class="whitecolor">&copy; 2018 XeOne. Made With Love by themesindustry</p>
         </div>
      </div>
   </div>
   <a id="close_side_menu" href="javascript:void(0);"></a>
   <!-- End side menu -->
</header>
<!-- header -->

<!--Main Slider-->
<div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="banner-main" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" class="rev_gradient">

                <!-- MAIN IMAGE -->
                <img src="images/transparent.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10"  data-no-retina>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme"
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-140']"
                  data-whitespace="nowrap" data-responsive_offset="on"
                  data-width="['none','none','none','none']" data-type="text"
                  data-textalign="['center','center','center','center']"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
                  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                  data-start="1000" data-splitin="none" data-splitout="none">
                    <h1 class="text-capitalize font-xlight whitecolor"></h1>
                </div>
                <div class="tp-caption tp-resizeme"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                   data-whitespace="nowrap" data-responsive_offset="on"
                   data-width="['none','none','none','none']" data-type="text"
                   data-textalign="['center','center','center','center']"
                   data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1200" data-splitin="none" data-splitout="none">
                    <h1 class="text-capitalize fontbold whitecolor">Volidity </h1>
                </div>
                <div class="tp-caption tp-resizeme"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                   data-whitespace="nowrap" data-responsive_offset="on"
                   data-width="['none','none','none','none']" data-type="text"
                   data-textalign="['center','center','center','center']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                   data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                   data-start="1000" data-splitin="none" data-splitout="none">
                    <h1 class="text-capitalize font-xlight whitecolor"></h1>
                </div>
                <div class="tp-caption tp-resizeme whitecolor"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                   data-whitespace="nowrap" data-responsive_offset="on"
                   data-width="['none','none','none','none']" data-type="text"
                   data-textalign="['center','center','center','center']" data-fontsize="['24','24','20','20']"
                   data-transform_idle="o:1;"
                   data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
			       data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
			       data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                   data-start="1500" data-splitin="none" data-splitout="none">
                    <h4 class="whitecolor font-light text-center">A Platform to Test Trading Strategies Over Historical Data </h4>
                </div>
                  <a class="tp-caption tp-resizeme" href="#our-process"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','160']"
                     data-width="200" data-height="none"
                     data-whitespace="normal" data-type="button"
                     data-actions='' data-responsive_offset="on"
                     data-textAlign="['center','center','center','center']"
                     data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                     data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                     data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'
                     style=" box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                     <span class="button btnprimary-alt pagescroll">Learn More</span>
                 </a>
            </li>
        </ul>
    </div>
</div>
<!--Main Slider ends -->

<!-- WOrk Process-->
<section id="our-process" class="padding gradient_bg_default">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 text-center">
            <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
               <h2 class="whitecolor">How Our <span class="fontregular">Product Works</span> </h2>
            </div>
         </div>
      </div>
      <div class="row">
         <ul class="process-wrapp">
            <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
               <span class="pro-step bottom20">01</span>
               <p class="fontbold bottom25">Create Financial Strategy</p>
               <p>Name your first financial strategy! </p>
            </li>
            <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
               <span class="pro-step bottom20">02</span>
               <p class="fontbold bottom25">Lookback</p>
               <p>Enter a start and end date for your trading strategy and specific time intervals between checks.</p>
            </li>
            <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
               <span class="pro-step bottom20">03</span>
               <p class="fontbold bottom25">Trade Structure</p>
               <p>Enter your trade structures! We support long and short trades, and market and limit executions. We also support orders within risk management: one cancels other, stop loss, and market on close.</p>
            </li>
            <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
               <span class="pro-step bottom20">04</span>
               <p class="fontbold bottom25">Signals</p>
               <p>Enter indicators needed as triggers for buying/selling. We support symbols for different indicators, multipliers, trigger types, time filters, and many more features.</p>
            </li>
         </ul>
      </div>
   </div>
</section>
<!--WOrk Process ends-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.1.1.min.js"></script>

<!--Bootstrap Core-->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--to view items on reach-->
<script src="js/jquery.appear.js"></script>

<!--Equal-Heights-->
<script src="js/jquery.matchHeight-min.js"></script>

<!--Owl Slider-->
<script src="js/owl.carousel.min.js"></script>

<!--number counters-->
<script src="js/jquery-countTo.js"></script>

<!--Parallax Background-->
<script src="js/parallaxie.js"></script>

<!--Cubefolio Gallery-->
<script src="js/jquery.cubeportfolio.min.js"></script>

<!--FancyBox popup-->
<script src="js/jquery.fancybox.min.js"></script>

<!-- Video Background-->
<script src="js/jquery.background-video.js"></script>

<!--TypeWriter-->
<script src="js/typewriter.js"></script>

<!--Particles-->
<script src="js/particles.min.js"></script>

<!--WOw animations-->
<script src="js/wow.min.js"></script>

<!--Revolution SLider-->
<script src="js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.video.min.js"></script>

<!--Google Map API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJnKEvlwpyjXfS_h-J1Cne2fPMqeb44Mk"></script>
<script src="js/functions.js"></script>
</body>
</html>
